.dayWeatherCard {
  background: linear-gradient(to right, #7474bf, #348ac7);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  padding: 1rem;
  height: 500px;
}

.currentTemp {
  line-height: 1;
}
.weatherIcon {
  width: 70px;
}
