.appWrapper {
  background: linear-gradient(to bottom, #4286f4, #373b44);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.innerContainer {
  max-width: 1000px;
  min-width: 320px;
}
