.appWrapper {
  background: linear-gradient(to bottom, #4286f4, #373b44);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.innerContainer {
  width: 800px;
}
@media only screen and (max-width: 8
00px) {
  .innerContainer {
    width: 100vw;
  }
}
