.appWrapper {
  background: linear-gradient(to bottom, #4286f4, #373b44);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.innerContainer {
  width: 100vw;
}
@media only screen and (min-width: 800px) {
  .innerContainer {
    width: 800px;
  }
}
